* {
    /* border: 1px dotted red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-background: #eaedf0;
    --card-background: #f6f7f8;
    --font-color: #5d6063;
    --border-color: #D6D9DC;
}

body {
    background-color: var(--main-background);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: var(--font-color);
    line-height: 1.6;
}

/* profile container */
.profile-container {
    width: 90%;
    height: fit-content;

    background-color: var(--card-background);
    border: 3px solid var(--border-color);
    border-radius: 20px;

    padding: 10px;
    margin: 20px auto;

    transition: all .5s;
}

/* .profile-container:hover {
    border-radius: 15px;
    border-color: skyblue;
    box-shadow: 0px 0px 10px skyblue;
} */

/* profile image size */
.profile-container .profile-picture {
    width: 100%;
    height: auto;

    border-radius: 10px;
    border: 1px solid var(--border-color);
    display: block;

    margin-bottom: 20px;
}

.profile-container .profile-name, 
.profile-container .contact-container,
.profile-container .profile-intro-container {
    width: fit-content;
    height: fit-content;

    margin-bottom: 20px;
}

/* full name style and size */
.profile-name .fullname {
    font-size: 18px;
    font-weight: 900;
}

/* contact detailed icon style and size */
.contact-container .contact p img {
    width: 25px;
    height: auto;

    vertical-align: middle;
    
    padding: 5px 5px 5px 0;
}

/* contact text font size */
.contact-container .contact p {
    font-size: 12px;
}

/* introduction margin */
.profile-container .profile-intro-container {
    margin: 0;
    text-align: justify;
}

